# Virtual environment
.venv

# macOS
.DS_Store

# App data
_app_data

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Testing
.pytest_cache
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Cursor
.cursorignore
.cursorrules